<nav class="navbar navbar-expand-lg navbar-light mt-3 mb-4" style="background-color: #dcdce1; font-color: #000000;">
  <a class="navbar-brand" href="{% url 'market:overview' %}">Companies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      {% for company in company_list %}
      {% if company == object %}
      <li class="nav-item active">
        <a class="nav-link anchor-black" href="{{ company.get_absolute_url }}">{{ company.name }}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link anchor-black" href="{{ company.get_absolute_url }}">{{ company.name }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>