<div class="btn-toolbar row" role="toolbar" data-toggle="buttons">
  <div class="col-12">
    <p style="font-size: 25px;"><b>Mode</b></p>
  </div>
  <div class="btn-group col-sm-6 col-md-4 col-lg-4 ml-auto mt-2" role="group">
    <button type="button"
      class="btn form-control border border-secondary btn-info mode-btn purchase-btn">TRANSACT</button>
  </div>
  <div class="btn-group col-sm-6 col-md-4 col-lg-4 mr-auto mt-2" role="group">
    <button type="button"
      class="btn form-control border border-secondary mode-btn schedule-btn">SCHEDULE</button>
  </div>
</div>
<input type="hidden" name="mode" class="mode-input" value="transact" />
<div class="btn-toolbar row mt-5" role="toolbar" data-toggle="buttons">
  <div class="col-12">
    <p style="font-size: 25px;" class="purchase-heading"><b>Transact Stocks</b></p>
  </div>
  {% for p_mode in purchase_modes %}
    {% if p_mode == 'buy' %}
      <div class="btn-group col-sm-6 col-md-4 col-lg-3 ml-auto mt-2" role="group">
        <button type="button" class="btn form-control border border-secondary mode-btn buy-btn">{{ p_mode.upper }}</button>
      </div>
    {% elif p_mode == 'sell' %}
      <div class="btn-group col-sm-6 col-md-4 col-lg-3 mr-auto mt-2" role="group">
        <button type="button" class="btn form-control border border-secondary mode-btn sell-btn">{{ p_mode.upper }}</button>
      </div>
    {% endif %}
  {% endfor %}
</div>
<input type="hidden" name="p-mode" class="p-mode-input" value="" />
<div class="row mt-3 mb-3">
  <div class="col-12">
    <input type="text" name="quantity" class="form-control quantity-input" placeholder="Number of stocks to transact"
      title="Enter positive integers only" pattern="[0-9]+" autocomplete="off" />
  </div>
  <div class="col-12">
    <input type="hidden" name="price" class="form-control price-input" placeholder="Price of purchase"
      title="Enter positive real numbers only" autocomplete="off" />
  </div>
</div>
<button type="submit" class="btn btn-success">{{ button_text }}</button>