{% extends 'base.html' %}

{% block base_head %}
<title>Leaderboard - Stock Bridge</title>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12 my-3">
    <h1 class="heading">LeaderBoard</h1>
  </div>
</div>

<div class="jumbotron"
  style="padding-top: 15px;padding-left: 10px ;padding-bottom: 5px;margin-bottom:10px;margin-top:8px; ">
  <div class="row">
    <div class="col-12 my-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Rank</th>
            <th class="text-center">Name</th>
            <th class="text-center">Net Worth</th>
          </tr>
        </thead>
        <tbody>
            {% for object in current_user %}
              <tr style="background: linear-gradient(to right, #59a563, #60d3e0);">
                <td class="text-center">{{ object.1 }}</td>
                <td class="text-center">
                    {{ object.0.1 }}
                </td>
                <td class="text-center">&#8377; {{ object.0.2 }}</td>
              </tr>
            {% endfor %}
          {% for object in data %}
            {% if object.0 != request.user.username %}
            <tr>
              <td class="text-center">{{ forloop.counter }}</td>
              <td class="text-center">{{ object.1 }}</td>
              <td class="text-center">&#8377; {{ object.2 }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}