{% extends 'base.html' %}
{% load humanize %}

{% block base_head %}
<title>Profile</title>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-12 mt-3">
        <div class="text-center">
            <h1 class="heading">{{ object.full_name }}</h1>
            <p class="lead">{{ object.username }}</p>
            <p class="lead">{{ object.email }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center my-5">
        <h3>Net Worth: &#8377; {{ net_worth|intcomma }}</h3>
    </div>
</div>
<div class="row">
    <h3 class="heading col-12 mb-4">Investments</h3>
</div>
{% if investments %}
    {% include 'snippets/market_overview_table.html' with object_list=investments %}
{% endif %}

{% endblock %}