{% extends 'base.html' %}
{% load static %}

{% block base_head %}
<title>Transaction</title>
{% endblock %}

{% block out_content_top %}
  <!-- marquee for cmp -->
  {% include 'market/snippets/cmp_marquee.html' with company_list=company_list %}
{% endblock %}

{% block content %}

{% include 'market/snippets/inner_navbar.html' with company_list=company_list %}
<h1 class="heading mb-4">Market Overview</h1>
{% if investments %}
    {% include 'snippets/market_overview_table.html' with object_list=investments %}
{% endif %}

{% endblock %}