<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Profiles</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>


<h1>Company Profiles</h1>
<body>
<table>
    {% for company in companies %}
  <tr>
      <th><a href="{% url 'market:transaction' company.code %}">{{ company.name }}</a></th>
    <th>{{ company.cap_type }}</th>
    <th>{{ company.cmp }}</th>
  </tr>
     {% endfor %}
</table>
</body>
</html>